<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GameServer.Properties.Settings>
            <setting name="LogFile" serializeAs="String">
                <value>GameLog.log</value>
            </setting>
            <setting name="ConfigFile" serializeAs="String">
                <value>GameConfig.xml</value>
            </setting>
            <setting name="PathingMapsDir" serializeAs="String">
                <value>PMAPs\</value>
            </setting>
        </GameServer.Properties.Settings>
    </applicationSettings>
</configuration>